.cardeditPgae {
  height: 82vh;
  width: 100vw;
  padding: 14vh 15vw;
  background-color: rgb(207, 202, 202);
  .cardeditForm {
    padding: 30px;
    background-color: gray;
    border: 10px solid black;
    border-radius: 20px;
    height: 56vh;
    width: 70vw;
    overflow: scroll;
    margin:auto ;
    &_title {
      margin-bottom: 30px;
      font-size: 120%;
    }
    &_memo {
      margin-bottom: 30px;
      font-size: 120%;
    }
    .submitBtn {
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border: none;
      border-radius: 10px;
      color: #fff;
      background-color: #38aef0;
      border: 2px solid black;
    }
  }
}